.drpprofile
{
    .css-1fdsijx-ValueContainer
 {
    font-size: 13px;
    color: #697A8D;
    font-weight: 500;
    //    padding :0px !important;
 }
 .css-1u9des2-indicatorSeparator
 {
    width :0px !important;
 }


.css-tj5bde-Svg{
     /* display: inline-block; */
     fill: currentColor;
     /* line-height: 1; */
     /* stroke: currentColor; */
     stroke-width: 0px;
    // width: 16px;
     padding: 0px -23px -31px 23px;
     /* margin-left: 57px; */
     margin-right: -6.4px;
    // color: #697A8D;
     width: 21.5px;
     height: 12.25px;
     color: #8E9CAA;
}
.css-t3ipsp-control{
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    cursor:default;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    min-height:38px;
    outline:0!important;
    position:relative;
    -webkit-transition:all 100ms;
    transition:all 100ms;
    background-color:hsl(0, 0%, 100%);
    border-color:#5C5AD0 !important;
    border-radius:4px;
    border-style:solid;
    border-width:1px;
    box-shadow:0 0 0 0px #D9DEE3 !important;
    box-sizing:border-box;
}

.css-1dimb5e-singleValue{
div{
    div{
        .drpContact{display: none;}
        img {display: none;}
        .drpEmail{display:none}
        .drpDate{display: none;}
     }
   }
}

.css-13cymwt-control:hover{
    border-color: #5C5AD0 !important;

}

.css-b62m3t-container
{
margin-top: 5px;
height: 38px;
width: 330px;
margin-bottom: 18px;
}

.css-1jqq78o-placeholder {
    grid-area: 1/1/2/3;
    /* color: hsl(0, 0%, 50%); */
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    color: #697A8D;
    opacity: 0.5;
}

/*  Dropdown Styling */
.drpName
{
font-size:13px; 
color:#566A7F; 
margin-top:3px;
}
.drpEmail
{
font-size:10px;
color:#8E9CAA;
margin-bottom:6px;
margin-top: 1px;
}
.drpContact
{
font-size:10px; 
color:#8E9CAA; 
margin-top:7px;
margin-left: -9px;
}
.drpDate
{
    font-size:10px;
    color:#FFFFFF;
    margin-bottom:6px;
    margin-top: 1px;
    background-color: #C2CAD2;
    padding: 4px;

}


.css-1nmdiq5-menu{
    border:none ;
    outline: none ;
    top:34px !important;
    position:absolute;
    width:100%;
    z-index:1;
    background-color:hsl(0, 0%, 100%);
    border-radius:0px 0px 8px 8px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    //outline:none;
   // justify-content: space-between !important;
//    margin-top: 15px !important;
    //margin-bottom: 20px !important;
}

.css-1n6sfyn-MenuList {
    max-height: 300px;
    overflow-y: hidden !important; 
    position: relative;
  //  -webkit-overflow-scrolling: touch;
    padding-bottom: 4px;
    padding-top: 4px;
    box-sizing: border-box;
}


.css-1it2zn2-MenuList::-webkit-scrollbar
{
    width: 0px;
}

    .css-d7l1ni-option{
        cursor:default;
        display:block;
        font-size:default;
        width:100%;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
       -webkit-tap-highlight-color:#5c5ad133 ;
       background-color:#5c5ad133  ;
        padding:0px 4px 4.5px 10px !important;
        box-sizing:border-box;
      //  color: #5C5AD0;
       // margin-left: 20px;
        //margin-top: 12px;
        //font-weight: bold;
    }
// .css-d7l1ni-option .drpName{
//    // color: #5C5AD0 ;
//     //font-size: 13px;
// }
.css-d7l1ni-option .drpDate{
    color: #FFFFFF ;
    background-color: #5C5AD0;
    padding: 4px;
    width: 20px;
    height: 20px;
    font-size: 11px;
}

        .css-d7l1ni-option:active{
        background-color:#5c5ad133 !important;
     
        }
 
        .css-10wo9uf-option{
            cursor:default;
            display:block;
            font-size:inherit;
            margin: opx !important;
            width:100%;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
          padding:0px 5px 10px 10px !important;
            box-sizing:border-box;
              width:330px !important;
            height: 41px !important;
        }



        .css-10wo9uf-option:active{
            background-color:#5c5ad133 !important;
        }

        .css-tr4s17-option{
            cursor:default;
            display:block;
            font-size:inherit;
            width:100%;
            background-color:#5c5ad133 !important;
            //color: #5C5AD0 !important;
            color: #5C5AD0 !important;
            padding:0px 5px 10px 10px !important;
            box-sizing:border-box;
            width:330px !important;
            height: 41px !important;
            
          
            //overflow: scroll !important;
          
        }
    //     .css-tr4s17-option::-webkit-scrollbar {
    //         width: 0px !important;
    // }

        .css-tr4s17-option {
            .drpName 
            {
            color :#5C5AD0 ;
            }
            .drpDate
            {
                color :#FFFFFF ;
                background-color: #5C5AD0;
                width: 20px;
                height: 20px;
                padding: 4px;
                font-size: 11px;
            }
        }
        // .css-tr4s17-option .drpDate{
        //     color :#5C5AD0 ;
        // }
        .css-tr4s17-option:active{
            background-color:#5c5ad133 !important;
           
        }

    }