.newcustomer
{
    background-color: white;
    height: 619px;
    width: 1090px;
    margin-top: 0px;
    margin-left: 30px;
    scrollbar-width: none; 
    //overflow: scroll; 
    border-radius: 8px;


/**/

.css-tj5bde-Svg{
     /* display: inline-block; */
     fill: currentColor;
     /* line-height: 1; */
     /* stroke: currentColor; */
     stroke-width: 0px;
    // width: 16px;
     padding: 0px -23px -31px 23px;
     /* margin-left: 57px; */
     margin-right: -6.4px;
    // color: #697A8D;
     width: 21.5px;
     height: 12.25px;
     color: #8E9CAA;
}
.css-t3ipsp-control{
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    cursor:default;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    min-height:38px;
    outline:0!important;
    position:relative;
    -webkit-transition:all 100ms;
    transition:all 100ms;
    background-color:hsl(0, 0%, 100%);
    border-color:#5C5AD0 !important;
    border-radius:4px;
    border-style:solid;
    border-width:1px;
    box-shadow:0 0 0 0px #D9DEE3 !important;
    box-sizing:border-box;
}

.css-13cymwt-control:hover{
border-color: #5C5AD0 !important;
}

.css-b62m3t-container
{
margin-top: 5px;
height: 38px;
width: 330px;
margin-bottom: 18px;
}

 .css-1fdsijx-ValueContainer
 {
    font-size: 13px;
    color: #697A8D;
    font-weight: 500;
    //    padding :0px !important;
 }
 .css-1u9des2-indicatorSeparator
 {
    width :0px !important;
 }

.css-1nmdiq5-menu{
    border:none ;
    outline: none ;
    top:34px !important;
    position:absolute;
    width:100%;
    z-index:1;
    background-color:hsl(0, 0%, 100%);
    border-radius:0px 0px 8px 8px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    //outline:none;
   // justify-content: space-between !important;
//    margin-top: 15px !important;
    //margin-bottom: 20px !important;
}

.css-1n6sfyn-MenuList {
    max-height: 300px;
    overflow-y: hidden !important; 
    position: relative;
  //  -webkit-overflow-scrolling: touch;
    padding-bottom: 4px;
    padding-top: 4px;
    box-sizing: border-box;
}


.css-1it2zn2-MenuList::-webkit-scrollbar
{
    width: 0px;
}

.css-1jqq78o-placeholder {
    grid-area: 1/1/2/3;
    /* color: hsl(0, 0%, 50%); */
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    color: #697A8D;
    opacity: 0.5;
}

/**/



}



.customerbutton_bottom
{
    display: flex;
   float: none !important;
   // margin-right: 32px;
    margin-top: 25px !important;
    gap: 24px;
   // border-color: #D9DEE3;
   margin-top: 40px;
}
.customerform
{
    height: 700px;
    overflow: scroll;
}
.customerform::-webkit-scrollbar{
    width: 0;
}
.container_details1{
    display: flex;
    padding: 23px 24px;
}
.form-left
{
    width: 50%;
    height:715px;
}
.form-center
{
    width: 50%;
    height: 715px;
    margin-left: 25px;
}

.form-right
{
    width: 30%;
    height: 715px;
    margin-left: 25px;
    margin-right: 10px;
}
.box_heading1{
    padding-top: 20px;
    align-items: center;
    margin-top: 0px;
    display: flex;
    margin-left: 24px;
    width: 130px;
    color: #566A7F;
    height: 24px;
    font-weight: bold;
    font-size: 18px;
}
.addcustomer_heading{
    margin-left: 30px;
   margin-top: 29px;
    .heading_parent{
        color: #A1ACB8;
        font-weight: 400;
    }
}
.label
{
    font-size: 12px;
    color:#566A7F;
}
.customerinput
{
    height: 38px;
    width: 330px;
    border-radius: 5px;
    margin-top: 5px;
    border-color: #D9DEE3;
}

.customerinput1
{
    height: 38px;
    width: 150px;
    border-radius: 5px;
    margin-top: 5px;
    border-color: #D9DEE3;
}

.customerdropdown
{
    border:1px solid;
    height: 38px;
    width: 330px;
    border-radius: 5px;
    margin-top: 4px;
    display: flex;
    margin-bottom: 18px;
    border-color: #D9DEE3;
}
.customerstreet
{
    border:1px solid;
    height: 38px;
    width: 330px;
    border-radius: 5px;
    margin-top: 4px;
    display: flex;
    margin-bottom: 18px;
    border-color: #D9DEE3;
}

.customerstreet::placeholder{
    opacity: 0.5;
    font-size: 13px;
    color:#697A8D;
    font-weight: 500;
   margin-right: 20px;
   margin-left: 20px;
}

.customeraddress
{
    border: 1px solid;
    width: 317px;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 18px;
    padding-bottom: 65px;
    outline: none;
    padding-left: 13px;
    padding-top:7px;
    border-color: #D9DEE3;
}

.customeraddress::placeholder{
    opacity: 0.5;
    font-size: 13px;
    color:#697A8D;
    font-weight: 500;
}

.customerinputfield
{
    border:1px solid;
    height: 38px;
    width: 330px;
    border-radius: 5px;
    margin-top: 4px;
    display: flex;
    margin-bottom: 18px;
    border-color: #D9DEE3;
}
.customerbutton_bottom
{
    display: flex;
    float: right;
    margin-right: 32px;
    margin-top: 109px;
    gap: 12px;
    border-color: #D9DEE3;
}
.cancelbutton
{
    border: none;
    width: 108px;
    height: 29px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #697A8D;
    font-size: 15px;
    font-weight: bold;
}
.savebutton
{
    border: none;
    width: 94px;
    height: 29px;
    border-radius: 4px;
    color: white;
    background-color: #5C5AD0;
    font-size: 15px;
    font-weight: bold;
}
.customerimg
{
width:16px;
 height:13px;
  padding:12px;
}
.customerstimg
{
    width:16px;
 height:13px;
  //padding:12px;
}

::placeholder { /* Most modern browsers support this now. */
    opacity: 0.5;
    font-size: 13px;
    color:#697A8D;
    font-weight: 500;
 }

 .customerinput
 {
    option{
        border:1px solid;
    }
 }

 /* Hide after selecting value */
 .css-1dimb5e-singleValue{
    div{
        div{
            .drpContact{display: none;}
            .drpEmail{display:none}
            .drpDate{display: none;}
        }
    }
}

//  .css-1fdsijx-ValueContainer
//  {
//     font-size: 13px;
//     color: #697A8D;
//     font-weight: 500;
//     //    padding :0px !important;
//  }
//  .css-1u9des2-indicatorSeparator
//  {
//     width :0px !important;
//  }


// .css-tj5bde-Svg{
//      /* display: inline-block; */
//      fill: currentColor;
//      /* line-height: 1; */
//      /* stroke: currentColor; */
//      stroke-width: 0px;
//     // width: 16px;
//      padding: 0px -23px -31px 23px;
//      /* margin-left: 57px; */
//      margin-right: -6.4px;
//     // color: #697A8D;
//      width: 21.5px;
//      height: 12.25px;
//      color: #8E9CAA;
// }
// .css-t3ipsp-control{
//     -webkit-align-items:center;
//     -webkit-box-align:center;
//     -ms-flex-align:center;
//     align-items:center;
//     cursor:default;
//     display:-webkit-box;
//     display:-webkit-flex;
//     display:-ms-flexbox;
//     display:flex;
//     -webkit-box-flex-wrap:wrap;
//     -webkit-flex-wrap:wrap;
//     -ms-flex-wrap:wrap;
//     flex-wrap:wrap;
//     -webkit-box-pack:justify;
//     -webkit-justify-content:space-between;
//     justify-content:space-between;
//     min-height:38px;
//     outline:0!important;
//     position:relative;
//     -webkit-transition:all 100ms;
//     transition:all 100ms;
//     background-color:hsl(0, 0%, 100%);
//     border-color:#5C5AD0 !important;
//     border-radius:4px;
//     border-style:solid;
//     border-width:1px;
//     box-shadow:0 0 0 0px #D9DEE3 !important;
//     box-sizing:border-box;
// }

// .css-13cymwt-control:hover{
// border-color: #5C5AD0 !important;
// }

// .css-b62m3t-container
// {
// margin-top: 5px;
// height: 38px;
// width: 330px;
// margin-bottom: 18px;
// }

.css-1jqq78o-placeholder {
    grid-area: 1/1/2/3;
    /* color: hsl(0, 0%, 50%); */
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    color: #697A8D;
    opacity: 0.5;
}

/*  Dropdown Styling */
.drpName
{
font-size:13px; 
color:#566A7F; 
margin-top:3px;
}
.drpEmail
{
font-size:10px;
color:#8E9CAA;
margin-bottom:6px;
margin-top: 1px;
}
.drpContact
{
font-size:10px; 
color:#8E9CAA; 
margin-top:7px;
margin-left: -9px;
}
.drpDate
{
    font-size:10px;
    color:#8E9CAA;
    margin-bottom:6px;
    margin-top: 1px;
}


// .css-1nmdiq5-menu{
//     border:none ;
//     outline: none ;
//     top:34px !important;
//     position:absolute;
//     width:100%;
//     z-index:1;
//     background-color:hsl(0, 0%, 100%);
//     border-radius:0px 0px 8px 8px !important;
//     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//     //outline:none;
//    // justify-content: space-between !important;
// //    margin-top: 15px !important;
//     //margin-bottom: 20px !important;
// }

// .css-1n6sfyn-MenuList {
//     max-height: 300px;
//     overflow-y: hidden !important; 
//     position: relative;
//   //  -webkit-overflow-scrolling: touch;
//     padding-bottom: 4px;
//     padding-top: 4px;
//     box-sizing: border-box;
// }


// .css-1it2zn2-MenuList::-webkit-scrollbar
// {
//     width: 0px;
// }

/*Normal*/
//     .css-d7l1ni-option{
//         cursor:default;
//         display:block;
//         font-size:default;
//         width:100%;
//         -webkit-user-select:none;
//         -moz-user-select:none;
//         -ms-user-select:none;
//         user-select:none;
//        -webkit-tap-highlight-color:#5c5ad133 ;
//        background-color:#5c5ad133 !important ;
//        padding:5.05px 5.3px 0px 10px !important;
//         box-sizing:border-box;
//         color: #5C5AD0 !important;
//     }

// .css-d7l1ni-option .drpDate{
//     color: #5C5AD0 ;
// }

//         .css-d7l1ni-option:active{
//         background-color:#5c5ad133 !important;
     
//         }
 
//         /*On hover */
//         .css-10wo9uf-option{
//             cursor:default;
//             display:block;
//             font-size:inherit;
//             width:100%;
//             -webkit-user-select:none;
//             -moz-user-select:none;
//             -ms-user-select:none;
//             user-select:none;
//          -webkit-tap-highlight-color:#5c5ad133 !important;
//            background-color:#5c5ad133  ;
//             color:#5c5ad133 ;
//          padding:0.1px 7px 90px 14px !important;
//             box-sizing:border-box;
//               width:330px !important;
//             height: 41px !important;  
//         }



//         .css-10wo9uf-option:active{
//             background-color:#5c5ad133 !important;
//         }

//        /* After selecting value*/

//         .css-tr4s17-option{
//             cursor:default;
//             display:block;
//             font-size:inherit;
//             width:100%;
//             background-color:#5c5ad133 !important;
//             color: #5C5AD0 !important;
//          padding:0px 7px 8px 10px !important;
//             box-sizing:border-box;
//             width:330px !important;
//             height: 41px !important;
//         }
//         .css-tr4s17-option {
//             .drpName 
//             {
//             color :#5C5AD0 ;
//             }
//             .drpDate
//             {
//                 color :#5C5AD0 ;
//             }
//         }
//         .css-tr4s17-option:active{
//             background-color:#5c5ad133 !important;
           
//         }