.customer-table-container{
    // border: 1px solid;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #ffff;

}
.customers{
    // border: 1px solid;
    margin: auto;
    width: 95%;
    max-width: 2200px;
    padding: 5px;
    // height: 780px;
    margin-top: 30px;
    overflow: scroll;
    position: relative;

    ::-webkit-scrollbar{
        width: 0;
    }
    .tableData{
        height: max-content;
        // margin-top: 20px;
        // padding: 5px;
        max-width: 2220px;
        // min-width: 100%;
        // border: 1px solid;
        // overflow: scroll;

    }

}


.customers::-webkit-scrollbar{
    width: 0;
}




.ant-table-container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ant-table-thead .ant-table-cell {
    // background-color: rgba(25, 168, 115, .2) !important;
    background-color: #5c5ad133 !important;
    font-size: 15px;
    font-weight: 500 !important;
    color: #252525;
}

.ant-table-row-selected {
    .ant-table-cell{
    // background-color: rgba(25, 168, 115, .2) !important;
    background-color: #5c5ad133 !important;
    border-radius: 0 !important;
    }
}
// .ant-table-selection-column .ant-checkbox-wrapper{
//     color: red !important;
// }

.ant-checkbox-checked .ant-checkbox-inner{
    background-color: #5C5AD0 !important;
    border-color: #5C5AD0 !important;
   
}
// .ant-checkbox-input{
//     color: red !important;
// }

.ant-checkbox-inner{
    border-color: #5C5AD0 !important;
}



.ant-checkbox-indeterminate{
    .ant-checkbox-inner::after{
        height: 3px !important;
        background-color: #5C5AD0;
    }
}
th{.ant-checkbox-checked{
    .ant-checkbox-inner::after{
        top: 50% !important;
    inset-inline-start: 50% !important;
    width: 8px !important;
    height: 2.5px !important;
    background-color: #ffff !important;
    border: 0 !important;
    transform: translate(-50%, -50%) scale(1) !important;
    opacity: 1 !important;
    content: "" !important;
    }
}}

.highlight_row{
    td{
        // background-color: rgba(194, 202, 210, .2) !important;
        background-color: rgb(243, 245, 246) !important;
        overflow: hidden !important;
    }
}
.highlight-row{
    border-radius: 0% !important;
}



.ant-table-selection-column{
    padding-left: 16px !important;
}
.ant-table-cell{
    padding: 12px 12px !important;
    font-size: 13px;
    color: #697A8D;
}

.ant-table-row-selected{
    .ant-table-cell{
        color: #2B3347;
    }
}
.ant-table-thead{
    .ant-table-cell{
        // color: red !important;
        font-size: 14px;
        color: #252525 !important;

    }
}

// .ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
//     width: 0px !important;
// }


.select{
    width: 200px;
    margin-top: 50px;
}

.ant-checkbox-checked:after {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    visibility: hidden;
    border: 2px solid #5C5AD0 !important;
    animation-name: css-dev-only-do-not-override-1ij74fp-antCheckboxEffect;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    content: "";
    transition: all 0.3s;
}



// pagination none

.ant-pagination{
    display: none !important;
}

// table column saprator

:not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none !important;
}