.leads
{
  background-color: white;
//  height: 475px;
//  width: 730px;
  margin-top: -38px;
  margin-left: 0px;
  margin-right: 1px;
 // scrollbar-width: none;
 // border-radius: 8px;
}

.leadform-right
{
    width: 50%;
    height: 715px;
    margin-left: 30px;
}
// .leadform
// {
//     height: 700px;
//     overflow: scroll;
// }
// .contactform::-webkit-scrollbar{
//   width: 0;
// }

.lead_heading{
    margin-left: 30px;
   margin-top: 29px;
    .heading_parent{
        color: #A1ACB8;
        font-weight: 400;
    }
}
.lead_details{
    display: flex;
    padding: 23px 24px;
}

.leadlabel
{
    font-size: 12px;
    color:#566A7F;
}

.leadinput
{
    border:1px solid;
    height: 38px;
    width: 330px;
    border-radius: 5px;
    margin-top: 4px;
    display: flex;
    margin-bottom: 18px;
    border-color: #D9DEE3;
}


.leadbutton_bottom
{
    display: flex;
   // float: right;
   // margin-right: 32px;
   // margin-top: 109px;
    gap: 24px;
   // border-color: #D9DEE3;
   margin-top: 40px;
}
.leadcancelbutton
{
  border: 1px  solid #C2CAD2;
   // border: none;
    width: 79px;
    height: 38px;
    border-radius: 6px;
    color: #8E9CAA;
    background-color: #FFFFFF;
    font-size: 12px;
    
    //font-weight: semibold;
}
.leadsavebutton
{
    border: none;
    width: 67px;
    height: 38px;
    border-radius: 6px;
    color: white;
    background-color: #5C5AD0;
    font-size: 12px;
   // margin-right: 24px;
   // font-weight: bold;
}



.radio-group
{
  display: flex;
  margin-bottom: 20px;
  margin-top: 8px;
}

.radio
{
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  //display:inline-block ;
  vertical-align: middle;
  color:#697A8D;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  padding-top: 10px;
}
.radio + .radio{
  margin-left: 18px;
}
.radio input[type="radio"]
{
  display: none;
}

.radio span{
  height: 16px;
  width:16px;
  border-radius: 50%;
  border: 2px solid #D9DEE3;
  //display: block;
  position: absolute;
  left: 0;
  top:7px;
 // background-color: #5C5AD0;
}

.radio span:after{
  content: "";
  height: 8px;
  width:8px;
  background: #FFFFFF;
  display: block;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius:50% ;
  transition: 300ms ease-in-out 0s;
}

.radio input[type="radio"]:checked ~span:after
{
  transform: translate(-50%, -50%) scale(1);
 // background-color: pink;
}

.radio input[type="radio"]:checked ~span
{
 // transform: translate(-50%, -50%) scale(1);
  background-color:  #5C5AD0 !important;
  border: 2px solid #5C5AD0;
}


