.account-data{
    // border: 1px solid;
    margin: auto;
    width: 95%;
    max-width: 2200px;
    padding: 5px;
    // height: 780px;
    margin-top: 30px;
   // overflow: scroll;
    position: relative;
    .account-table-container{
    //     // border: 1px solid;
        padding: 20px;
        background-color: #ffff;
        border-radius: 8px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    // border: 1px solid;
    // padding: 5px;
    // padding-top: 30px;
}
