*{
    margin: 0px;
    padding: 0px;
    font-family: 'Public Sans', sans-serif;
}
body{
    background-color: #f5f5f9;
}


.sidebar{
    width: 240px;
    min-width: 250px;
    transition: all .5s ease-in-out;
    overflow: hidden;
    height: 100vh;
    margin-left: -5px;
    // border: 1px solid;

    .sidebar_container{
        // border: 1px solid red;
        max-width: 260px;
        width: 92%;
        height: 100%;
        background-color: #ffff;
    }
    .sidebar_logo{
        padding: 17px 87px 17px 33px;
        position: relative;
        width: 150px;
        height: 53px;
        // border: 1px solid;

        img{
            width: 100%;
            transition: all .5s;
        }
        
    }
    .collapse_btn{
        background-color: #f5f5f9;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        transition: all .5s;

        top: 25%;
        right: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    
        >span{
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #5C5AD0;
            color: #ffff;
        }
    }
    
}
.close{
    .collapse_btn{
        rotate: 180deg;
        transition: all .5s;
    }
}

.sidebar_item{
    // border: 1px solid red;
    height: 87%;
    overflow: hidden;
    overflow-y: scroll; 
    overflow-y: overlay;
    position: relative;  
    // scr
}
.sidebar_item::-webkit-scrollbar{
    width: 0px;
}








// sidebar mini 

    .sidebar_mini{
    width: 85px;
    margin-right: 115px;
    min-width: 93.5px;
    margin-left: -5px;
    

    .sidebar_logo{

        img{
            width: 42px;
            margin-left: -10px;
            transition: all .5s;
        }
    }
    .collapse_btn{
        display: none;
    
    }


    .group{
        svg{
            margin: auto;
        }
    
            p{
                display: none;
            }
    }



    .btn{
        .btn_container{
            width: 36px;
            // border: 1px solid;
            transition: all .5s;
            >p{
                display: none;
            }
            .dropdown_arrow{
                display: none;
            }
        }
    }
    .dropdown_item_container{
        display: none;
    }

}