.drpsimple
{
    .css-1fdsijx-ValueContainer
 {
    font-size: 13px;
    color: #697A8D;
    font-weight: 500;
    :focus
    {
        outline: #5C5AD0;
        border: 3px solid red;
    }
  
 }
//  .css-1fdsijx-ValueContainer:focus {
//    // outline: none;
//     border:1px solid red;
//     box-shadow: 0 0 10px #719ECE;
//     width:500px
// }

 .css-1u9des2-indicatorSeparator
 {
    width :0px !important;
 }


.css-t3ipsp-control{
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    cursor:default;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    min-height:38px;
    outline:0!important;
    position:relative;
    -webkit-transition:all 100ms;
    transition:all 100ms;
    background-color:hsl(0, 0%, 100%);
    border-color:#5C5AD0 !important;
    border-radius:4px;
    border-style:solid;
    border-width:1px;
    box-shadow:0 0 0 0px #D9DEE3 !important;
    box-sizing:border-box;
    
}

// .css-13cymwt-control .contdetails{
//     padding-top: 20px;
// }

.css-13cymwt-control:hover{
    border-color: #5C5AD0 !important;
}

.css-b62m3t-container
{
margin-top: 5px;
height: 38px;
width: 330px;
margin-bottom: 18px;
}

.css-1jqq78o-placeholder {
    grid-area: 1/1/2/3;
    /* color: hsl(0, 0%, 50%); */
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    color: #697A8D;
    // opacity: 0.5;
}

/*  Dropdown Styling */
.contbtndetails
{
    background-color: #A1ACB8;
    outline: none;
    border: none;
    color: white;
    padding: 4px 225px 12px 20px;
   
    font-size: 15px;
    margin-left: -12px;
   // margin-left: 100px;
    border-radius: 0px 0px 8px 8px;
    width: 330px !important;
  
}

.contdetails
{
font-size:13px; 
color: #566A7F;
}
.css-1nmdiq5-menu{
    .contdetails
    {
        align-items: center;
       // margin-top: 5px;
    }
    border:none ;
    outline: none ;
    top:34px !important;
    position:absolute;
    width:100%;
    z-index:1;
    background-color:hsl(0, 0%, 100%);
    border-radius:0px 0px 8px 8px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}

.css-1n6sfyn-MenuList {
    
    max-height: 300px;
    overflow-y: hidden !important; 
    position: relative;
  //  -webkit-overflow-scrolling: touch;
    padding-bottom: 4px;
    padding-top: 4px;
    box-sizing: border-box;
}


.css-1it2zn2-MenuList::-webkit-scrollbar
{
    width: 0px;
}
    .css-d7l1ni-option{
        cursor:default;
        display:block;
        font-size:default;
        width:100%;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
       -webkit-tap-highlight-color:#5c5ad133 ;
       background-color:#5c5ad133  ;
        padding:80px 10px 20px 50px !important;
        box-sizing:border-box;
    }

.css-d7l1ni-option .contdetails{
    color :#5C5AD0 !important ;
   // background-color: #5C5AD0;
     padding: 4px;
    // width: 5px;
    // height: 20px;
    font-size: 13px;
}

        .css-d7l1ni-option:active{
        background-color:#5c5ad133 !important;
     
        }
 
        .css-10wo9uf-option{
            cursor:default;
            display:block;
            font-size:inherit;
            width:100%;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
            padding:20px 10px 20px 50px !important;
            box-sizing:border-box;
              width:330px !important;
            height: 41px !important; 
        }



        .css-10wo9uf-option:active{
            background-color:#5c5ad133 !important;
           //  color: #5C5AD0 !important;
        }
       
        .css-tr4s17-option{
            cursor:default;
            display:block;
            font-size:inherit;
            width:100%;
            background-color:#5c5ad133 !important;
            color: #5C5AD0 !important;
            padding:20px 10px 20px 50px !important;
            box-sizing:border-box;
            width:330px !important;
            height: 41px !important;
        }
        .css-tr4s17-option {
            .contdetails 
            {
            color :#5C5AD0 ;
            font-size: 13px;
            }
           
        }
       
        .css-tr4s17-option:active{
            background-color:#5c5ad133 !important;
           
        }

    }