

.App{
  display: flex;
}
.main{
  display: flex;
  /* border: 1px solid; */
  width: 100%;
  }

.rightScreen{
  /* border: 1px solid; */
  width: 100%;
  margin-left: -10px;
  /* overflow: scroll; */
}


@media screen and (width: 668px) {
 .sidebar{
  display: none;
 }
}
