/*OFF CANVAS*/




/**/


.contacts
{

    background-color: white;
  //  height: 475px;
  //  width: 730px;
    margin-top: -38px;
    margin-left: 0px;
    margin-right: 1px;
   // scrollbar-width: none;
  //  border-radius: 8px;

    // background-color: white;
    // height: 475px;
    // width: 730px;
    // margin-top: 0px;
    // margin-left: 30px;
    // scrollbar-width: none; 
    // border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contactform-right
{
    width: 50%;
    height: 715px;
    margin-left: 30px;
}

.contactlabel
{
    font-size: 12px;
    color:#566A7F;
}

.contactinput
{
    border:1px solid;
    height: 38px;
    width: 330px;
    border-radius: 5px;
    margin-top: 4px;
    display: flex;
    margin-bottom: 20px;
    border-color: #D9DEE3;
}



.contactbutton_bottom
{
    display: flex;
    gap: 24px;
   margin-top: 40px;
}
.contactcancelbutton
{
  border: 1px  solid #C2CAD2;
   // border: none;
    width: 79px;
    height: 38px;
    border-radius: 6px;
    color: #8E9CAA;
    background-color: #FFFFFF;
    font-size: 12px;
    
    //font-weight: semibold;
}
.contactsavebutton
{
    border: none;
    width: 67px;
    height: 38px;
    border-radius: 6px;
    color: white;
    background-color: #5C5AD0;
    font-size: 12px;
   // margin-right: 24px;
   // font-weight: bold;
}



// .contactform
// {
//     height: 700px;
//     overflow: scroll;
// }

// .contactform::-webkit-scrollbar{
//     width: 0;
// }

.contact_heading{
    margin-left: 30px;
   margin-top: 29px;
    .heading_parent{
        color: #A1ACB8;
        font-weight: 400;
    }
}
.contact_details{
    display: flex;
    padding: 23px 24px;
}

// 

::placeholder { /* Most modern browsers support this now. */
    opacity: 0.5;
    font-size: 13px;
    color:#697A8D;
    font-weight: 500;
 }

.contactinput
{
    height: 38px;
    width: 330px;
    border-radius: 5px;
    margin-top: 5px;
    border-color: #D9DEE3;
}

.contdetails
{
    font-size: 13px;
}

.css-1nmdiq5-menu{
    border:none ;
    outline: none ;
    top:34px !important;
    position:absolute;
    width:100%;
    z-index:1;
    background-color:hsl(0, 0%, 100%);
    border-radius:0px 0px 8px 8px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    //outline:none;
   // justify-content: space-between !important;
//    margin-top: 15px !important;
    //margin-bottom: 20px !important;
}

.css-1n6sfyn-MenuList {
    max-height: 300px;
    overflow-y: hidden !important; 
    position: relative;
  //  -webkit-overflow-scrolling: touch;
    padding-bottom: 4px;
    padding-top: 4px;
    box-sizing: border-box;
}


.css-1it2zn2-MenuList::-webkit-scrollbar
{
    width: 0px;
}

// .css-1it2zn2-MenuList {
//     /* max-height: 151.20000076293945px; */
//     overflow: scroll !important;
//     //position: none !important;
//     -webkit-overflow-scrolling: touch;
//     padding-bottom: 4px;
//     padding-top: 4px;
//     box-sizing: border-box;
//   //  margin-left: -20px;
// }
// .css-1it2zn2-MenuList::-webkit-scrollbar
// {
//     width: 0px;
// }

    .css-d7l1ni-option{
        cursor:default;
        display:block;
        font-size:default;
        width:100%;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
       -webkit-tap-highlight-color:#5c5ad133 ;
       background-color:#5c5ad133 !important ;
       padding:50px 50px 70px 100px ;
        box-sizing:border-box;
        color: #5C5AD0 !important;
       // margin-left: 20px;
        //margin-top: 12px;
        //font-weight: bold;
    }
.css-d7l1ni-option .drpName{
    color: #5C5AD0 ;
    //font-size: 13px;
}
.css-d7l1ni-option .drpDate{
    color: #5C5AD0 ;
}

        .css-d7l1ni-option:active{
        background-color:#5c5ad133 !important;
     
        }
 
        .css-10wo9uf-option{
            cursor:default;
            display:block;
            font-size:inherit;
            width:100%;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
         -webkit-tap-highlight-color:#5c5ad133 !important;
           background-color:#5c5ad133  ;
            color:#5c5ad133 ;
            padding:5px 5px 7px 10px !important;
            box-sizing:border-box;
              width:330px !important;
            height: 41px !important;
        //    margin-top: 10px;
            
        }



        .css-10wo9uf-option:active{
            background-color:#5c5ad133 !important;
            // color: #5C5AD0 !important;
        }

        .css-tr4s17-option{
            cursor:default;
            display:block;
            font-size:inherit;
            width:100%;
           
           // -webkit-tap-highlight-color:#5c5ad133 !important ;
            background-color:#5c5ad133 !important;
            //color: #5C5AD0 !important;
            color: #5C5AD0 !important;
            padding:5px 5px 7px 10px !important;
            box-sizing:border-box;
            width:330px !important;
            height: 41px !important;
         
          
            //overflow: scroll !important;
          
        }
    //     .css-tr4s17-option::-webkit-scrollbar {
    //         width: 0px !important;
    // }

        .css-tr4s17-option {
            .contdetails 
            {
            color :#5C5AD0 ;
           // font-size: 13px !important;
            }
        }
        // .css-tr4s17-option .drpDate{
        //     color :#5C5AD0 ;
        // }
        .css-tr4s17-option:active{
            background-color:#5c5ad133 !important;
           
        }


